.img-wrapper {
	height:320px;
	overflow:hidden;
}
.img-wrapper .img {
	z-index:5;
}
.img-wrapper .caption {
	z-index: 15;
	position:relative;
	top:0;
	padding:10px;
	background:#000000;
	opacity:0.5;
	width:320px;	
	height:50px;
	color:#ffffff;
	display:none;
	transition: top 2000ms, display 2000ms;	
}
.img-wrapper img:hover + .caption {
	top:-50px;
	display:block;
}